:root {
  /* dark theme params */
  /* --background-color: hsl(204, 15%, 7%); */
  --background-color: #fefdfc;
  /* --background-color: #fff; */
  --link-color: hsl(204, 90%, 65%);
  /* --font-color: #fff; */
  --font-color: hsl(204, 15%, 7%);
  /* --shade: hsl(204, 15%, 10%); */
  --shade: #efefef;
  --btn-color: hsl(114, 82%, 55%);
  --btn-hover: hsl(114, 82%, 45%);
  --input-bg: #fff;
  /* light theme params */
}

.dark {
  display: none;
}
