<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/light.css">
    <!-- <link rel="stylesheet" href="../css/dark.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>

<body>
    <div id="wrapper">
        <!-- Mobile Navigation Menu -->
        <div id="mobile-nav" class="overlay mobile">
            <!-- Overlay content -->
            <ul>
                <!-- {% if user.is_authenticated %} -->
                <li><a href="#" id="" class="pages-link">Home</a></li>
                <li><a href="#" id="" class="pages-link">Dashboard</a></li>
                <li><a href="#skills" id="" class="pages-link">Skills</a></li>
                <li><a href="#projects" id="" class="pages-link">Projects</a></li>
                <li><a href="#contacts" id="" class="pages-link">Contact</a></li>
            </ul>
        </div>
        <header class="flex m-row">
            <div id="page-title">Home</div>

            <div id="desktop-nav" class="desktop">
                <ul>
                    <li><a href="#" id="" class="pages-link">Home</a></li>
                    <li><a href="#" id="" class="pages-link">Dashboard</a></li>
                    <li><a href="#skills" id="" class="pages-link">Skills</a></li>
                    <li><a href="#projects" id="" class="pages-link">Projects</a></li>
                    <li><a href="#contacts" id="" class="pages-link">Contact</a></li>
                </ul>
            </div>

            <!-- Mobile Hamburger Menu -->
            <div class="hamburger-menu">
                <div class="ham-bar bar-top"></div>
                <div class="ham-bar bar-mid"></div>
                <div class="ham-bar bar-bottom"></div>
            </div>
        </header>

        <main>
            <div id="bio" class="section">
                <div id="bio-data" class="m-row-rev">
                    <div id="avatar-container" class="relative">
                        <img src="../images/nft50.png" alt="fabio's avatar" class="avatar">
                    </div>
                    <div id="desc">
                        <div id="bio-name" class="desktop">
                            Farouk Abiodun ADEGBOYEGA
                        </div>
                        <div id="bio-name" class="relative mobile">
                            Farouk Abiodun <br>
                            ADEGBOYEGA
                        </div>
                        <p class="about-me">
                            I'm also a Python programmer and I'm presently learning Fullstack Web Development at <a
                                href="#">I4G & ZURI
                                Internship programme</a>.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odit voluptates nulla
                            assumenda illo recusandae dolores corrupti libero ipsa autem!
                        </p>
                        <div>
                            <ul class="flex socials">
                                <!-- <li><a target="_blank" href="mailto:faroukadekunle001@gmail.com"><img
                                            src="../images/socials/gmail-svgrepo-com.svg" alt="" class="icon"></a></li> -->
                                <li><a target="_blank" href="https://twitter.com/farookie007"><img
                                            src="../images/socials/twitter-154-svgrepo-com.svg" alt="" class="icon"></a>
                                </li>
                                <li><a target="_blank" href="https://github.com/farookie007"><img
                                            src="../images/skills/github-142-svgrepo-com.svg" alt="" class="icon"></a>
                                </li>
                                <!-- <li><a target="_blank" href="https://www.facebook.com/faroukabiodun.adegboyega"><img
                                            src="../images/socials/gmail-svgrepo-com.svg" alt="" class="icon"></a></li> -->
                                <li><a target="_blank" href="https://linkedin.com/farookie007"><img
                                            src="../images/socials/linkedin-161-svgrepo-com.svg" alt=""
                                            class="icon"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div id="hire" class="txt-center">
                    <a href="#contacts" id="hire-me">Hire Me</a>
                </div>
            </div>
            <div id="skills" class="section">
                <h2 class="title">Skills & Tools</h2>
                <div id="cards-container" class="flex wrap">
                    <div class="card">
                        <img src="../images/skills/python-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Python
                        </div>
                    </div>
                    <div class="card c-prgm">
                        C
                    </div>
                    <!-- <div class="card">
                        <img src="../images/skills/django-svgrepo-com (1).svg" alt="">
                        <div class="bold">
                        </div>
                    </div> -->
                    <div class="card">
                        <img src="../images/skills/django-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Django
                        </div>
                    </div>
                    <div class="card">
                        <img src="../images/skills/html-5-svgrepo-com.svg" alt="">
                        <div class="bold">
                            HTML
                        </div>
                    </div>
                    <!-- <div class="card">
                        <img src="../images/skills/html5-02-svgrepo-com.svg" alt="">
                        <div class="bold">
                            HTML
                        </div>
                    </div> -->
                    <div class="card">
                        <img src="../images/skills/css3-dark.svg" alt="">
                        <div class="bold">
                        </div>
                    </div>
                    <!-- <div class="card">
                        <img src="../images/skills/javascript-fill-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Javascript
                        </div>
                    </div> -->
                    <div class="card">
                        <img src="../images/skills/javascript-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Javascript
                        </div>
                    </div>
                    <div class="card">
                        <img src="../images/skills/terminal-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Terminal
                        </div>
                    </div>
                    <!-- <div class="card">
                        <img src="../images/skills/bash02-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Bash
                        </div>
                    </div> -->
                    <div class="card">
                        <img src="../images/skills/git-svgrepo-com (1).svg" alt="">
                        <div class="bold">
                            Git
                        </div>
                    </div>
                    <!-- <div class="card">
                        <img src="../images/skills/git-svgrepo-com.svg" alt="">
                        <div class="bold">
                            Git
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="projects" class="section">
                <h2 class="title">Projects</h2>
                <div id="cards-container">
                    <div class="card flex">
                        <div class="card-photo relative">
                            <div class="layover">
                                <img src="../images/effects/share-svgrepo-com.svg" alt="" id="share-btn">

                            </div>

                            <img src="../images/projects/Screenshot (34).png" alt="">
                        </div>
                        <div class="card-desc">
                            <h3 class="name">YEEZUS</h3>
                            <p class="about-me">
                                NOT MORE THAN 300 CHARACTERS. consectetur adipisicing elit. Ullam earum dolor quis magni
                                delectus excepturi aperiam aliquid Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Omnis sapiente nihil ea inventore quam. Qui.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, quibusddlkalkd
                            </p>
                            <div class="tags flex">
                                <img src="../images/skills/html-5-svgrepo-com.svg" alt="" class="icon">
                                <img src="../images/skills/css3-dark.svg" alt="" class="icon">
                                <img src="../images/skills/javascript-svgrepo-com (1).svg" alt="" class="icon">
                            </div>
                        </div>
                    </div>

                    <div class="card flex">
                        <div class="card-photo relative">
                            <div class="layover">
                                <img src="../images/effects/share-svgrepo-com.svg" alt="" id="share-btn">

                            </div>

                            <img src="../images/projects/Screenshot (34).png" alt="">
                        </div>
                        <div class="card-desc">
                            <h3 class="name">YEEZUS</h3>
                            <p class="about-me">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam earum dolor quis magni
                                delectus excepturi aperiam aliquid
                            </p>
                            <div class="tags flex">
                                <img src="../images/skills/html-5-svgrepo-com.svg" alt="" class="icon">
                                <img src="../images/skills/css3-dark.svg" alt="" class="icon">
                                <img src="../images/skills/javascript-svgrepo-com (1).svg" alt="" class="icon">
                            </div>
                        </div>
                    </div>
                   
                    <div class="card flex">
                        <div class="card-photo relative">
                            <div class="layover">
                                <img src="../images/effects/share-svgrepo-com.svg" alt="" id="share-btn">

                            </div>

                            <img src="../images/projects/Screenshot (34).png" alt="">
                        </div>
                        <div class="card-desc">
                            <h3 class="name">YEEZUS</h3>
                            <p class="about-me">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam earum dolor quis magni
                                delectus excepturi aperiam aliquid
                            </p>
                            <div class="tags flex">
                                <img src="../images/skills/html-5-svgrepo-com.svg" alt="" class="icon">
                                <img src="../images/skills/css3-dark.svg" alt="" class="icon">
                                <img src="../images/skills/javascript-svgrepo-com (1).svg" alt="" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="card flex">
                        <div class="card-photo relative">
                            <div class="layover">
                                <img src="../images/effects/share-svgrepo-com.svg" alt="" id="share-btn">

                            </div>

                            <img src="../images/projects/Screenshot (34).png" alt="">
                        </div>
                        <div class="card-desc">
                            <h3 class="name">YEEZUS</h3>
                            <p class="about-me">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam earum dolor quis magni
                                delectus excepturi aperiam aliquid
                            </p>
                            <div class="tags flex">
                                <img src="../images/skills/html-5-svgrepo-com.svg" alt="" class="icon">
                                <img src="../images/skills/css3-dark.svg" alt="" class="icon">
                                <img src="../images/skills/javascript-svgrepo-com (1).svg" alt="" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="card flex">
                        <a href="#">
                            <div class="card-photo relative">

                                <div class="layover">
                                    <img src="../images/effects/share-svgrepo-com.svg" alt="" id="share-btn">

                                </div>

                                <img src="../images/projects/Screenshot (34).png" alt="">
                            </div>
                        </a>
                        <div class="card-desc">
                            <h3 class="name">YEEZUS</h3>
                            <p class="about-me">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam earum dolor quis magni
                                delectus excepturi aperiam aliquid
                            </p>
                            <div class="tags flex">
                                <img src="../images/skills/html-5-svgrepo-com.svg" alt="" class="icon">
                                <img src="../images/skills/css3-dark.svg" alt="" class="icon">
                                <img src="../images/skills/javascript-svgrepo-com (1).svg" alt="" class="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contacts" class="section">
                <div class="container">
                    <h2 class="txt-center">Contact Me</h2>
                    <form method="post">
                        <div class="form-group">
                            <label for="username">Email:</label>
                            <input type="text" name="username" id="username" tabindex="1"
                                placeholder="example@email.com" required>
                            <!-- {% render_field form.username name="username" id="username" type="text" tabindex="1" %}
                                    {% for error in form.username.errors %}
                                    <p class="error-msg">{{ error }}</p>
                                    {% endfor %} -->
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <div class="pw-inpt">
                                <input type="text" name="message" id="message" tabindex="2" required>
                                <!-- {% render_field form.password name="password" id="password" type="password" tabindex="2" %} -->
                            </div>
                            <!-- {% for error in form.password.errors %}
                                    <p class="error-msg">{{ error }}</p>
                                    {% endfor %} -->
                        </div>

                        <input type="submit" value="Send Message" id="submit-btn" class="btn" tabindex="3">
                    </form>

                </div>
            </div>
        </main>
        <footer>
            <hr>
            <div class="txt-center">
                <!-- © 2023 -->
                <em>
                    © 2023
                </em>
            </div>
        </footer>
    </div>
    <script src="../js/hamburgerMenu.js"></script>
    <script src="../js/.js"></script>
    <script src="../js/hamburgerMenu.js"></script>
</body>

</html>